
{% extends "mailings/base.html" %}
{% load media_shower %}
{% block content %}
<p class="text-center">
    <a class="btn btn-lg btn-block btn-outline-success" href = '{% url "mailings:client_create" %}' role="button">Добавить нового пользователя</a>
</p>
{% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>Email - {{ object.email }}</li>
                            <li>Comment - {{ object.comment }}</li>
                        </ul>
                        {% if user == object.owner or user.is_superuser %}
                        <a class="btn my-2 btn-lg btn-block btn-outline-success" href = '{% url "mailings:client_detail" object.pk %}' role="button">Посмотреть</a>
                        <a class="btn my-2 btn-lg btn-block btn-outline-primary" href = '{% url "mailings:client_update" object.pk %}' role="button">Редактировать</a>
                        <a class="btn my-2 btn-lg btn-block btn-outline-danger" href = '{% url "mailings:client_delete" object.pk %}' role="button">Удалить</a>
                        {% endif %}
                    </div>
            </div>
        </div>
{% endfor %}
{% endblock %}